/conf/map_darkstar.conf
/conf/login_darkstar.conf
/conf/lan_config.conf
/conf/packet_darkstar_tcp.conf
/conf/packet_darkstar_udp.conf
/conf/search_server.conf
/conf/server_message.conf
/conf/server_message_fr.conf

/map_darkstar.conf
/login_darkstar.conf
/lan_config.conf
/packet_darkstar_tcp.conf
/packet_darkstar_udp.conf
/search_server.conf
/server_message.conf
/server_message_fr.conf

\map_darkstar.conf
\login_darkstar.conf
\lan_config.conf
\packet_darkstar_tcp.conf
\packet_darkstar_udp.conf
\search_server.conf
\server_message.conf
\server_message_fr.conf

map_darkstar.conf
login_darkstar.conf
lan_config.conf
packet_darkstar_tcp.conf
packet_darkstar_udp.conf
search_server.conf
server_message.conf
server_message_fr.conf